.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clock__main{
    width:250px;
    height:400px;
}

.clock__draw{
    width:100%;
    height:100%;
    border:1px solid gray;
    border-radius: 10px;
}